# IBMDS_Capstone_C3

In [2]:
import pandas as pd
import numpy as np

In [3]:
import lxml

link = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"

df = pd.read_html(link,header=0)[0]

In [4]:
df.shape

(287, 3)

# Step 1: filter not assigned

In [5]:
# Only process the cells that have an assigned borough.
df_filtered = df[df['Borough'] != 'Not assigned']

In [6]:
df_filtered.shape

(210, 3)

## STEP 2: aggregate <br>
More than one neighborhood can exist in one postal code area.
combined into one row the neighborhoods with the same postcode
separated with a comma as shown in row 11 in the above table.

In [7]:
df3=df_filtered.groupby(['Postcode','Borough'])['Neighbourhood'].apply(','.join).reset_index()

In [8]:
#pd.set_option('display.max_rows', df.shape[0]+1)
#print(df3)

## Step 3 : replacement<br>
replace not assigned neighbourhood with borough name

In [9]:

df3.loc[df3["Neighbourhood"] == 'Not assigned','Neighbourhood'] = df3["Borough"]

In [10]:
df3

    Postcode      Borough                                      Neighbourhood
0        M1B  Scarborough                                      Rouge,Malvern
1        M1C  Scarborough               Highland Creek,Rouge Hill,Port Union
2        M1E  Scarborough                    Guildwood,Morningside,West Hill
3        M1G  Scarborough                                             Woburn
4        M1H  Scarborough                                          Cedarbrae
..       ...          ...                                                ...
98       M9N         York                                             Weston
99       M9P    Etobicoke                                          Westmount
100      M9R    Etobicoke  Kingsview Village,Martin Grove Gardens,Richvie...
101      M9V    Etobicoke  Albion Gardens,Beaumond Heights,Humbergate,Jam...
102      M9W    Etobicoke                                          Northwest

[103 rows x 3 columns]

In [11]:
df3.shape

(103, 3)